body {
    background-color: #8EA4D2;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #424242;
    color: white;
    border: 2px solid black;
    border-top: none;
}

h1 {
    text-align: center;
    color: #68B684;
}

img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

a {
    color:#68B684;
}

a:hover {
    color:#8EA4D2;
}

/* Home Screen */
.homeImg {
    text-align: center;
    /* box-shadow: ; */
}

.homeBtn {
    display: block;
    text-align: center;
}

.homeBtn > * {
    margin: 10px;
    text-align: center;
    background-color: #68B684;
    color: rgb(27, 27, 27);
    width: 250px;
    height: 75px;
    font-size: 1.5em;
}

.btn-primary {
    border: 1px solid black;
    background-color: #68B684;
    color: black;
}

.btn-primary:hover {
    background-color: #8EA4D2;
    color: #424242;
    border: 1px solid black;
}

/* NAVBAR */
nav {
    background-color: #68B684;
    padding: 10px;
    border-bottom: 2px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: #424242;
    text-decoration: none;
}

/* BUTTONS */
.btn {
    margin: 5px;
}


